.htaccess
.htaccess_bkp-14-04-2016
bkp_xmlrpc.php
.cache/*
cache/*
opt.tar
tmp/*
wp-config.php
wp-content/uploads/wp-clone/
cotizar-seguro-hogar/sitio/administrator/.env
cotizar-seguro-hogar/sitio/cl_Business/conn/Connection.php
bhse/Wordpress_BACKUP_20180202.zip
cotizar-seguro-hogar/sitio/administrator/vendor/phpunit/php-code-coverage/tests/_files/Report/HTML/CoverageForClassWithAnonymousFunction/source_with_class_and_anonymous_function.php.html
cotizar-seguro-hogar/sitio/administrator/vendor/phpunit/php-code-coverage/tests/_files/Report/XML/CoverageForClassWithAnonymousFunction/source_with_class_and_anonymous_function.php.xml